:root {
  --color-blue: #013D5A;
  --color-white: #FCF3E3;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.container {
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
}

h1, h2 {
  color: #333;
  text-decoration: underline;
}