body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
line-height: 1.6;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
}

.container {
width: 60%;
text-align: center;
padding: 20px;
border-radius: 8px;
text-align: center;
}

h1, h2 {
color: #333;
text-decoration: underline;
}

p {
margin-bottom: 10px;
}