:root {
  --color-blue: #013D5A;
  --color-white: #FCF3E3;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .main {
  margin-top: 80px
 }

 .body {
  background-color: var(--color-white);
 }
 
 .logo {
  color: var(--color-white);     
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  flex: 1;
  font-family: var(--font);
}


nav {   
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0; 
  display: flex;
  align-items: center;
  padding: 5px 50px;
  font-family: var(--font);
  background-color: var(--color-blue);
}    


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 5px auto;
  width: 100%;
  
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;          
  gap: 20px;
  flex: 1;
  justify-content: flex-end;

}

nav ul li {
  margin: 0;     
  
}

nav ul li a {
  color: var(--color-white);          
  text-decoration: none; 
  font-size: 18px;  
  padding: 8px 12px;     
  border: 2px solid var(--color-white);
  border-radius: 30px;
  transition: border-color 0.3s ease;

}

nav ul li a:hover {
  color: #F4A258;      
}
@media (max-width: 1355px) {
  nav ul li a {
    font-size: 12px;
    padding: 5px 10px;
  }
  nav ul {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  
  nav ul li a {
    font-size: 14px;
    padding: 5px 8px;
  }
  .nav-container {
    padding: 10px; 
  }
}